# Project place/model file
/Commander.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# DS_STORE files
*.DS_Store
.DS_Store

# Custom packages
/src/server/Packages/Custom

# Workspace configuration files.
.nova/
.vscode/